<h3>Companies</h3>
<div>
  <label>Company name:
    <input #companyName />
  </label>
  <button (click)="search(companyName.value)">
    search
  </button>
</div>
<!-- <div class=""> -->
    <a [routerLink]="['/addCompany']" routerLinkActive="router-link-active"  class="">
        <button class="button fancy-button" type="submit">Add Company</button>
    </a>
<!-- </div> -->

<ul class="companies">
  <li *ngFor="let company of companies">
    <a (click)="edit(company)">
      <span class="badge">{{ company.id || -1 }}</span>
      <span *ngIf="company!==editCompany">{{company.name}}</span>
      <input *ngIf="company===editCompany" [(ngModel)]="company.name"
        (blur)="update()" (keyup.enter)="update()">
    </a>
    <button class="delete" title="delete company"
        (click)="delete(company)">x
    </button>
  </li>
</ul>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->