<a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="">
    <h1>Stonks</h1>
</a>
<div>
    <input type="checkbox" id="uploader" [checked]="showUploader" (click)="toggleUploader()">
    <label for="uploader">Upload Data</label>
    &nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="companies" [checked]="showCompanies" (click)="toggleCompanies()">
  <label for="companies">Companies</label>
    &nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="stockEx" [checked]="showStockEx" (click)="toggleStockEx()">
  <label for="stockEx">Stock Exchanges</label>
  &nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="IPO" [checked]="showIPO" (click)="toggleIPO()">
  <label for="IPO">IPO's</label>
  &nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="charts" [checked]="showCharts" (click)="toggleCharts()">
  <label for="charts">Charts</label>
</div>

<app-companies *ngIf="showCompanies"></app-companies>
<!-- <app-messages></app-messages> -->
<app-stock-ex *ngIf="showStockEx"></app-stock-ex>
<app-ipo *ngIf="showIPO"></app-ipo>
<app-uploader *ngIf="showUploader"></app-uploader>
<app-charts *ngIf="showCharts"></app-charts>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->