<app-topbar></app-topbar>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div>
        <label for="email">
            Email
        </label>
        <input id="email" type="text" formControlName="email" required>
        <p *ngIf="!loginForm.get('email').valid">Email must be of the form **@**.**</p>
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input id="password" type="password" formControlName="password" required>
        <p *ngIf="!loginForm.get('password').valid">Password must have at least 6 characters and at least one numeric character</p>
    </div>

    <!-- <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class=""> -->
    <button class="button" type="submit" [disabled]="!loginForm.valid">Login</button>
    <!-- </a> -->
    &nbsp;
    <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="">
        <button class="button">Register</button>
    </a>

</form>