<div class="sidenav">
  <div class="login-main-text">
     <h2>STOCK MARKET CHARTING<br> <br> welcome!</h2>
     <h4>login or register from here to access  :) </h4>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form>
           <div class="form-group">
              <label for="" class="font-weight-bold">username</label>
              <input type="text" class="form-control" placeholder="email">
           </div>
           <div class="form-group">
            <label for="" class="font-weight-bold">password</label>
              <input type="password" class="form-control" placeholder="password">
           </div>
           <button type="submit" class="btn btn-black">login</button>
           <button type="submit" class="btn btn-secondary" onclick="">register</button>
        </form>
     </div>
  </div>
</div>